<h1>Edit <%= @wiki.name %></h1>

<div class="row">

  <div class="col-md-8">
    <%= render partial: 'form' %> 
  </div>
</div>
<br>

<table class="table">
<% @wiki.collaborators.each do |u| %>
  <tr>  
    <td><%= u.user.name  %></td>
    <td> <%= u.user.email %></td>
    <td>
    <%= link_to "Remove Collaborators", wiki_collaborators_path(@wiki), class: 'btn btn-info' %>
    </td>
    </tr>
<% end %>
</table>